# Data files (Usually too large for GitHub)
data/*.csv
data/*.zip

# Virtual environments
venv/
env/
ENV/

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/
*.ipynb_checkpoints

# Python cache and compiled files
__pycache__/
*.py[cod]
*$py.class
*.so

# IDE specific files
.vscode/
.idea/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db

# Environment variables
.env
